<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SmartDots.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <SmartDots.Properties.Settings>
      <setting name="DotWidth" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DotColor" serializeAs="String">
        <value>#FF0000</value>
      </setting>
      <setting name="DotShape" serializeAs="String">
        <value>Dot</value>
      </setting>
      <setting name="LineWidth" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LineColor" serializeAs="String">
        <value>#00FFFF</value>
      </setting>
      <setting name="LastServer" serializeAs="String">
        <value />
      </setting>
      <setting name="LastApi" serializeAs="String">
        <value />
      </setting>
      <setting name="LastAuthType" serializeAs="String">
        <value />
      </setting>
      <setting name="LastUser" serializeAs="String">
        <value />
      </setting>
      <setting name="DotType" serializeAs="String">
        <value>Seawater</value>
      </setting>
      <setting name="MeasureColor" serializeAs="String">
        <value>#FFFF00</value>
      </setting>
      <setting name="MeasureLineWidth" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MeasureFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ShowFileNavButtons" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CircleWidth" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="AgeReadingKeyAction1" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction2" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction3" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction4" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction5" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction6" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction7" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction8" serializeAs="String">
        <value />
      </setting>
      <setting name="GrowthAllMode" serializeAs="String">
        <value>Selected Annotations</value>
      </setting>
      <setting name="GrowthAllScale" serializeAs="String">
        <value>pixels</value>
      </setting>
      <setting name="AgeReadingKeyAction9" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction10" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction11" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction12" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction13" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction14" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction15" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction16" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction17" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction18" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction19" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction20" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction21" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction22" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction23" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction24" serializeAs="String">
        <value />
      </setting>
      <setting name="AgeReadingKeyAction0" serializeAs="String">
        <value />
      </setting>
    </SmartDots.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IBroadCastService"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://srvsqldevd1.clo.be/Service.svc/BroadCast" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBroadCastService" contract="ServiceReferenceBroadCast.IBroadCastService" name="NetTcpBinding_IBroadCastService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Tesseract" publicKeyToken="ebeb3d86bef60cbe" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
</configuration>
