<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net452" requireReinstallation="true" />
  <package id="DevExpress.Charts" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Charts.Core" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.CodeParser" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Data" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Data.Desktop" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.DataAccess" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.DataVisualization.Core" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Diagram.Core" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Drawing" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Gauges.Core" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Images" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Mvvm" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Office.Core" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Pdf.Drawing" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.PivotGrid.Core" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Reporting.Core" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Core" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Export" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Sparkline.Core" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Charts" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Controls" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Core" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Diagram" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Docking" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.ExpressionEditor" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid.Core" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid.Printing" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.LayoutControl" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.NavBar" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Office" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.PivotGrid" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Printing" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.PropertyGrid" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Reporting" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Ribbon" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.RichEdit" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016Colorful" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016White" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2019Colorful" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Seven" version="25.2.5" targetFramework="net48" />
  <package id="DevExpress.Xpo" version="25.2.5" targetFramework="net48" />
  <package id="IronOcr" version="4.4.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.6" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>